@font-face {
    font-family: 'Minecraft';
    src: url(resources/fonts/minecraftfont.woff);
    font-weight: bold;
}
@font-face {
    font-family: 'Minecraft Bold';
    src: url(/resources/fonts/3_Minecraft-Bold.woff);
}

p {
    font-size: 75%;
}

.selector {
    position:fixed;
    top: 0%;
    left: 0%;
    padding: 15px;
    font-family: "Minecraft";
    

}

.selector a:hover, a:active {
    background-image: url(/resources/images/button_highlighted.png);
    background-repeat: no-repeat;
    display: block;
}


#active-page {  
    background-image: url(/resources/images/button_disabled.png);
    color: white;
    background-repeat: no-repeat;
    display: block;
}

body {
    background-image: url(/resources/images/minecraft-background-menu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    text-align: center;
}

.selector a {
    text-decoration: none;
    font-size: large;
    color: white;

    background-image: url(/resources/images/button.png);
    background-repeat: no-repeat;
    background-size: 400px 40px;
    display: block;

    width: 400px;
    height: 40px;
    text-align: center;
    margin-bottom: 50px;
    line-height: 40px;

}

.main h1, h2, p, table{
    margin-left: 30%;
    margin-right: 20%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.main h1, h2, p {
    font-family: "Minecraft";
}

.main h1, h2, p {
    margin: 5px 0;
}
.blogs {
    color: yellow;
    font-family: "Minecraft";
    text-decoration: none;
    display: block;
    margin-top: 20px;


}
.blogs:hover {
    color: red;
}


.main img {
    position:absolute;
    width: 15%;
    right: 10%;
}

.dashboard th, td {
    border: 2px solid;
    width: 50%;
    height: 50%;
    padding: 4px;
}

.dashboard td {
    font-family: "Minecraft";
}

.dashboard th {
    font-family: "Minecraft Bold";
    font-size: large;
}

.dashboard td:hover, th:hover {
    color: gray;
}

