@font-face {
    font-family: 'Minecraft';
    src: url(resources/fonts/minecraftfont.woff);
    font-weight: bold;
}

html {
    font-family: "Minecraft";
}

.selector {
    position:fixed;
    top: 0;
    left: 0;
    height:auto;
    padding: 15px;

}

.selector a:hover, a:active {
    background-image: url(/resources/images/button_highlighted.png);
    background-repeat: no-repeat;
    display: block;

    
}


#active-page {  
    background-image: url(/resources/images/button_disabled.png);
    color: white;
    background-repeat: no-repeat;
    display: block;
}

body {
    background-image: url(/resources/images/minecraft-background-menu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    text-align: center;
}

.selector a {
    text-decoration: none;
    font-size: large;
    color: white;
    background-image: url(/resources/images/button.png);
    background-repeat: no-repeat;
    display: block;
}

.main h1, h2, p, table{
    margin-left: 30%;
    margin-right: 20%;
    text-align: center;
    padding: 0px;
}

.main a {
    color: black;
    text-decoration: none;
    
}

.main img {
    position:absolute;
    top:0%;
    right:0%;
    width: 20%;
}

.dashboard {
    border-width: 2px solid;
}

